@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html,
#app {
  scroll-behavior: smooth;
  height: 100%;
}

#app {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #fff;
}

.router-link-active {
  cursor: default;
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

::-webkit-input-placeholder {
  text-align: center;
}
