@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html,
#app {
  scroll-behavior: smooth;
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  height: 1.5rem;
  width: 1.5rem;
}

.router-link-active {
  opacity: 0.8;
}
